[submodule "ros_ws/src/Universal_Robots_ROS_Driver"]
	path = ros_ws/src/Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "ros_ws/src/universal_robot"]
	path = ros_ws/src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
[submodule "ros_ws/src/industrial_core"]
	path = ros_ws/src/industrial_core
	url = https://github.com/ros-industrial/industrial_core.git
[submodule "ros_ws/src/wsg50-ros-pkg"]
	path = ros_ws/src/wsg50-ros-pkg
	url = https://github.com/atokagzx/wsg50-ros-pkg.git
[submodule "modules/GroundingDINO"]
	path = modules/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "ros_ws/src/moveit_calibration"]
	path = ros_ws/src/moveit_calibration
	url = https://github.com/ros-planning/moveit_calibration.git
[submodule "ros_ws/src/alpaca_logging/arm_msgs"]
	path = ros_ws/src/alpaca_logging/arm_msgs
	url = git@github.com:atokagzx/arm_msgs.git
[submodule "ros_ws/src/alpaca_logging/alpaca_logging_tools"]
	path = ros_ws/src/alpaca_logging/alpaca_logging_tools
	url = git@github.com:atokagzx/alpaca_logging_tools.git
