
<launch>
    <include file="$(find alpaca_bringup)/launch/robot_driver.launch" >
            <arg name="use_gripper" value="true"/>
            <arg name="fake" value="false"/>
            <arg name="use_rviz" value="true"/>
            <arg name="rviz_config" value="$(find alpaca_bringup)/rviz/calibrate.rviz"/>
    </include>
    <include file="$(find alpaca_bringup)/launch/realsense_1.launch" />
</launch>