<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_2_link_broadcaster"
     args="0.893383 -0.0496483 0.726472   0.69008 0.675097 -0.18792 -0.180885 base_link camera_2_color_optical_frame" />
</launch>
