<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_1_link_broadcaster"
     args="0.535836 -0.0166985 1.02798   0.715028 0.699051 -0.00600981 0.00509647 base_link camera_1_color_optical_frame" />
</launch>
